/* A partir de aquí se define el estilo para la barra de navegación de la página*/
.navegacionBarra{
	position: relative;
	top: 46.7px;
	float: left;
	width: 100%;
	height: 50px;
	margin: auto;
	background-color: #ECEBEB;
	z-index: 3;
}

.navegacionBarra ul{
	list-style: none;
}

.menu .l1{
	top: 0px;
	display: inline-block;
}

.menu > li > a{
	display: inline-block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li a:hover{
	color: #990000;
	transition: all .3s;
}

.subMenuAnillos{
	display: none;
	position: absolute;
	background-color: #ECEBEB;
	width: 214px;
	opacity: 0;
	transition: opacity 1.5s;
}

.subMenuAnillos li a{
	display: inline-block;
	padding: 15px;
	color: black;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li:hover .subMenuAnillos{
	display: block;
	opacity: 1;
}

.subMenuColgantes{
	display: none;
	position: absolute;
	background-color: #ECEBEB;
	width: 150px;
	opacity: 0;
	transition: opacity 1.5s;
}

.subMenuColgantes li a{
	display: block;
	padding: 15px;
	color: black;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li:hover .subMenuColgantes{
	display: block;
	opacity: 1;
}

.subMenuCelebraciones{
	display: none;
	position: absolute;
	background-color: #ECEBEB;
	width: 120px;
	opacity: 0;
	transition: opacity 1.5s;
}

.subMenuCelebraciones li a{
	display: block;
	padding: 10px;
	color: black;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li:hover .subMenuCelebraciones{
	display: block;
	opacity: 1;
}

.subMenuReloj{
	display: none;
	position: absolute;
	background-color: #ECEBEB;
	width: 155px;
	opacity: 0;
	transition: opacity 1.5s;
}

.subMenuReloj li a{
	display: block;
	padding: 10px;
	color: black;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li:hover .subMenuReloj{
	display: block;
	opacity: 1;
}

.menuFijo{
	position: fixed;
	z-index: 5;
	top: 0px;
}