.contenedorPortada{
	float: right;
	width: 100%;
	height: 560px;
	background-image: url(../Imágenes/Portada.jpg);
	background-size: 150%;
	animation: movimiento 10s infinite alternate;
	position: relative;
	top: 46px;
	z-index: 3;
}

@keyframes movimiento{
	from{
		background-position: bottom left;
	}to{
		background-position: top right;
	}
}

.capaDegradado{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(right, black, #990000);
	opacity: 0.3;
}

.contenedorDetalles{
	width: 100%;
	max-width: 1200px;
	position: relative;
}

.detalles{
	font-family: cursive;
	font-size: 17px;
	position: relative;
	text-align: justify;
	float: right;
	width: 100%;
	max-width: 500px;
	top: 90px;
	color: white;
}

.detalles h1{
	position: relative;
	top: -30px;
	font-size: 40px;
	font-weight: 100; 
}

.details p{
	margin-top: 10px;
	font-size: 20px;
}

#buttonDetalles{
	position: relative;
	top: 0px;
	width: 120px;
	height: 40px;
	font-size: 15px;
	background: none;
	border-style: none;
	border: 1px solid white;
	color: white;
	margin-top: 20px;
	transition: background 300ms;
	cursor: pointer;
}

#buttonDetalles:hover{
	background: white;
	color: black;
}

#imgLogoCompleto{
	position: relative;
	top: 70px;
	display: block;
	margin: auto; 
	width: 350px;
	height: 300px;
}